/*************************************************************************
 * General Overrides
 ************************************************************************/

#sidewalk {
  padding-bottom:3em;
}

#sidewalk h1 {
  font-weight:normal;
}

#sidewalk div.comment > div {
  font:14px "Droid Serif", Georgia, serif;
  line-height:1.45em;
}

/*************************************************************************
 * Fandoc Overrides
 ************************************************************************/

#sidewalk div.fandoc h1,
#sidewalk div.fandoc h2,
#sidewalk div.fandoc h3,
#sidewalk div.fandoc h4,
#sidewalk div.fandoc h5,
#sidewalk div.fandoc h6 {
  font-family:"Droid Sans", Helvetica Neue, Arial, sans-serif;
}

#sidewalk div.fandoc h1,
#sidewalk div.fandoc h2,
#sidewalk div.fandoc h3 {
  font-weight:normal;
}

#sidewalk div.fandoc pre,
#sidewalk div.fandoc code {
  font:12px Monaco, Courier, monospace;
}

#sidewalk div.fandoc code {
  color:#080;
}

#sidewalk div.fandoc pre {
  color:#444;
  margin:1em 0;
  padding:1em;
  border:1px solid #ddd;
  -moz-border-radius:   7px;
  -webkit-border-radius:7px;
  border-radius:        7px;
  overflow:auto;
}

#sidewalk div.fandoc blockquote {
  margin:1em 0; padding:0 0 0 1em;
  border-left:1px solid #ccc;
  color:#a0a;
}

/*************************************************************************
 * Form Controls Overrides
 ************************************************************************/

#sidewalk form input,
#sidewalk form select {
  font:14px "Droid Sans", Helvetica Neue, Arial, sans-serif;
}

#sidewalk form input[type=text],
#sidewalk form input[type=email],
#sidewalk form input[type=password],
#sidewalk form textarea {
  border:1px solid #ccc;
  padding:6px;
  -moz-box-shadow:   inset #e5e5e5 0px 1px 3px;
  -webkit-box-shadow:inset #e5e5e5 0px 1px 3px;
  box-shadow:        inset #e5e5e5 0px 1px 3px;
}

#sidewalk form input[readonly] {
  background:#f2f2f2;
  color:#666;
}

#sidewalk form input[type=text]:focus,
#sidewalk form input[type=email]:focus,
#sidewalk form input[type=password]:focus,
#sidewalk form textarea:focus {
  outline:2px solid #699cd6;
}

#sidewalk form input[type=submit],
#sidewalk form input[type=button] {
  color:#444;
  border:1px solid #ccc;
  margin:0 0.5em 0 0; padding:4px 12px;
  background:#f2f2f2;
  background:-moz-linear-gradient(#fff,#eee);
  background:-webkit-gradient(linear, left top, left bottom, from(#fff), to(#e8e8e8));
  background:linear-gradient(#fff,#eee);
  -moz-border-radius:   15px;
  -webkit-border-radius:15px;
  border-radius:        15px;
  text-shadow:#fff 0px 1px 1px;
  -moz-box-shadow:   inset #fff 0px 1px 3px, #eee 0px 1px 3px;
  -webkit-box-shadow:inset #fff 0px 1px 3px, #eee 0px 1px 3px;
  box-shadow:        inset #fff 0px 1px 3px, #eee 0px 1px 3px;
}

#sidewalk form input[type=checkbox] {
  margin:0 0.5em 0 1em;
}

#sidewalk form textarea {
 font:12px Monaco, Courier, monospace;
}

#sidewalk form input[type=submit]:active,
#sidewalk form input[type=button]:active {
  background:#eee;
  padding:5px 12px 3px 12px;
}

#sidewalk form input[disabled],
#sidewalk form textarea[disabled] {
  background:#eee;
  color:#999;
}

#sidewalk form input[disabled]:active {
  background:#eee;
  padding:4px 12px;
}

/*************************************************************************
 * Forum Overrides
 ************************************************************************/

#sidewalk span.badge {
  font-size:12px;
}

#sidewalk div.heading div.cmds {
  top:1px;
}

#sidewalk div.heading > div.page-control {
  top:4px;
}

#sidewalk table.topics td.tags,
#sidewalk table.topics td.blog {
  font-size:12px;
}

#sidewalk h2.blog {
  display:inline-block;
  color:#fff;
  background:#485b77;
  font-size:16px;
  font-weight:normal;
  padding:2px 12px;
  margin:1em 0 0 0;
  -moz-border-radius:   15px;
  -webkit-border-radius:15px;
  border-radius:        15px;
}

#sidewalk h1 span {
  font-size:16px;
  font-weight:normal;
}

#sidewalk div.comment > h2 > a {
  top:6px;
  font-size:12px;
}

#sidewalk div.comment > h2 > span[title] {
  font-size:12px;
}

#sidewalk div.blog {
  position: relative;
}

#sidewalk div.blog div.fandoc + h2 {
  border-top: 1px solid #eee;
  padding-top: 1em;
}

#sidewalk div.blog div.posts {
  width: 580px;
}

#sidewalk div.blog div.posts > h3 {
  font-size: 100%;
  font-weight: normal;
  color: #777;
}

#sidewalk div.blog > ul {
  position: absolute;
  top: 0;
  right: 0;
  width: 220px;
  list-style: none;
  margin: 0;
  padding: 0 0 0 1em;
}

#sidewalk div.blog > ul li {
  margin-bottom: 1em;
}

/*************************************************************************
 * Mobile
 ************************************************************************/

@media screen and (max-device-width: 480px) {
  #sidewalk table.topics td.status {
    font:36px sans-serif;
    line-height:14px;
    color:#3266a8;
  }

  #sidewalk div.heading span.badge {
    font-size:100%;
    padding:12px;
    left:285px;
  }

  #sidewalk div.heading div.cmds {
    left:auto;
    right:0;
  }

  #sidewalk div.heading div.cmds li a {
    padding:12px 24px;
    margin-left:36px;
  }

  #sidewalk div.heading div.cmds li a:first-child {
    margin-left:0;
  }

  #sidewalk div.heading div.page-control {
    display:none;
  }

  #sidewalk div.page-control {
    margin:2em 0 !important;
  }

  #sidewalk table.topics td {
    padding:24px 6px;
  }

  #sidewalk table.topics td.date {
    display:none;
  }

  #sidewalk div.comment {
    font-size:100%;
  }

  #sidewalk div.comment pre {
    font-size:100%;
  }
}

@media only screen and (-webkit-min-device-pixel-ratio: 2) {
  #sidewalk form input {
    font-size:100%;
  }

  #sidewalk table.topics td.status {
    font-size:200%;
  }
  #sidewalk table.topics td.tags {
    font-size:100%;
  }

  #sidewalk h1 {
    line-height:1em;
  }

  #sidewalk h1 span {
    font-size:65%;
  }

  #sidewalk div.comment span,
  #sidewalk div.fandoc,
  #sidewalk div.fandoc code {
    font-size:100%;
  }
}