/*************************************************************************
 * General
 ************************************************************************/

body {
  font:14px "Droid Sans", Lucida Grande, Segoe UI, Arial, sans-serif;
  line-height:1.5em; padding:0; margin:0; background:#fff;
  border-top:38px solid #eee;
}
img { border:0; }

a {
  color:#856E46;
  text-decoration:none;
  border-bottom: 1px solid #bbb;
}

a:hover {
  color:#485b77;
  border-bottom: 1px solid #485b77;
}

/*************************************************************************
 * Header
 ************************************************************************/

#header {
  position:relative;
  width:840px;
  height:80px;
  margin:0 auto;
}

#header h1 {
  position:absolute;
  top:32px; left:0px;
  width:242px; height:34px;
  margin:0; padding:0;
  background:url(/pod/haystackws/res/img/logo.png) no-repeat;
}

#header h1 a {
  position:absolute;
  top:0; left:0; width:242px; height:34px;
  color:#fff;
  text-indent:-9999px;
  border:none;
}

#header ul.user {
  position:absolute;
  top:-30px; right:270px;
  list-style-type:none;
  margin:0; padding:0;
  font-size:12px;
}

#header ul.user li {
  display:inline-block;
  color:#746a55;
  white-space: nowrap;
}

#header ul.user li:before {
  content:"\2022";
  margin:0 2px;
  color:#aaa;
}

#header ul.user li:first-child:before {
  content:" ";
}

#header div.search {
  position:absolute;
  top:-38px; right:0;
  width: 260px;
  margin:0; padding:0;
}

#header ul.nav {
  position:absolute;
  top:32px; right:0;
  list-style-type:none;
  margin:0; padding:0;
  font:bold 16px "Droid Sans", "Helvetica Neue", Arial, Sans;
  text-transform:uppercase;
  letter-spacing:-1px;
}

#header ul.nav li {
  display:inline-block;
  margin:0 8px;
  padding:2px 0;
  border-top:4px solid white;
}

#header ul.nav li a {
  color:#788cab;
  border:none;
}

#header ul.nav li a:hover {
  color:#144B7a;
}

#header ul.nav li.groupStart {
  margin-left:32px;
}

#header ul.nav li:last-child {
  margin-right:0;
}

#header ul.nav li#header-active-tab {
  border-top:4px solid #485b77;
}

/*************************************************************************
 * Content
 ************************************************************************/

#content {
  background:#fff;
  width:840px;
  margin:1em auto;
}

#content div.prev-next {
  font-size:8pt;
  color:#999;
}

#content div.prev-next:first-child {
  border-bottom:1px solid #e5e4dd;
  padding-bottom:12px;
}

#content div.prev-next:last-child {
  border-top:1px solid #e5e4dd;
  padding-top:12px;
}

#content div.prev-next a {
  margin:0 6px;
  font-size:10pt;
}

#content div.prev-next span:last-child {
  float:right;
}

/*************************************************************************
 * Content: Index
 ************************************************************************/

#index-banner {
  border: none;
  text-decoration: none;
}

#index-sections > div {
  float:right;
  width:320px;
  clear:right;
}

#index-sections p {
  font:14px "Droid Sans", Georgia, serif;
  line-height:1.5em;
}

div#index-section-1 {
  float:left;
  width:430px;
  margin-right:1em;
}

#index-section-1 p,
#index-section-1 li {
  font-size:14pt;
  line-height:1.6em;
}

/*************************************************************************
 * Docs: TOC
 ************************************************************************/

#index-toc {
  padding-bottom:3em;
}

#index-toc ol {
  margin:0 0 1em 5em; padding:0;
  counter-reset:item;
}

#index-toc  ol li {
  list-style:none;
  padding:0;
  margin: 4px 0px 20px 40px;
  position:relative;
  font-size: 12pt;
}

#index-toc ol li:before {
  content:counters(item, ".");
  counter-increment:item;
  position:absolute;
  left:-1.5em;
  color:#888;
}

#index-toc  ol li p {
  margin: 4px 0px 4px 20px;
  font-size: 10pt;
}

#index-toc ol li p li:before {
 left:-2.5em;
}

#index-table {
  width:800px;
  border:1px solid #beb9a2;
}

#index-table tr:nth-child(odd) {
  background:#f4f3ed;
}

#index-table td {
  padding:4px 18px 4px 6px;
}

#index-table td:last-child {
  width:100%;
  padding:4px 6px;
}

#index-table td p {
  margin:0;
}

/*************************************************************************
 * Content: Docs
 ************************************************************************/

#doc-content {
  padding:2em 0 3em 0;
  float:right;
  width:600px;
}

#doc-content h1.skip {
  position:absolute;
  left:-9999px;
  counter-increment:h1;
}

#doc-content h1 {
  margin:1em 0 2em 0;
  counter-increment:h1;
  counter-reset:h2;
}

#doc-content h2 {
  font-weight:normal;
  counter-increment:h2;
  counter-reset:h3;
}

#doc-content h3 {
  font-weight:normal;
  counter-increment:h3;
  counter-reset:h4;
}

#doc-content h1.tags {
  text-transform:none;
}

#doc-content h1:before {
 content:counter(h1);
 font-size:75%;
 color:#888;
 padding-right:0.5em;
}

#doc-content h2:before {
 content:counter(h1) "." counter(h2);
 font-size:75%;
 font-weight:normal;
 color:#888;
 padding-right:0.5em;
}

#doc-content h3:before {
 content:counter(h1) "." counter(h2) "." counter(h3);
 font-size:75%;
 font-weight:normal;
 color:#888;
 padding-right:0.5em;
}

#doc-content p,
#doc-content li,
#doc-content ol {
  font:14px "Droid Serif", Georgia, serif;
  line-height:1.5em;
}

#doc-content pre {
  margin:1em;
}

#doc-content h1 > a {
  color:#000;
}

/*************************************************************************
 * Content: Docs-SideBar
 ************************************************************************/

#doc-sidebar {
  float:left;
  width:200px;
  padding-top:2em;
  padding-right:1em;
}

#doc-sidebar h2 {
  margin-top:0;
  font-size:100%;
  color:#888;
}

#doc-sidebar ul {
  list-style:none;
  margin:0; padding:0 0 2em 0;
}

#doc-sidebar ol {
  margin:0 0 0 1.5em; padding:0;
  counter-reset:item;
}

#doc-sidebar ol ol {
  margin-left:0em;
}

#doc-sidebar ol ol ol {
  margin-left:1em;
}

#doc-sidebar ol li {
  list-style:none;
  padding:0; margin:2px 0;
  position:relative;
}

#doc-sidebar ol li:before {
  content:counters(item, ".");
  counter-increment:item;
  position:absolute;
  left:-1.5em;
  color:#888;
}

#doc-sidebar ol ol li:before {
  position:static;
  padding-right:0.25em;
}

#doc-sidebar li.cur > a {
  font-weight:bold;
}

#doc-sidebar li.cur ol li a {
  color:#a19581;
}

#doc-sidebar li.cur ol li a:hover {
  color:#485b77;
}

/*************************************************************************
 * Content: Tag Index Page
 ************************************************************************/

h1.tag {
  background:url(/pod/haystackws/res/img/tag.png) no-repeat;
  padding-left:38px;
  height:32px;
}

#tags-index {
  border-collapse: collapse;
  width: 100%;
  border-bottom: 1px solid #aaa;
}

#tags-index th {
  text-align: left;
  border-top: 1px solid #aaa;
  margin: 0px;
}

#tags-index td {
  border-top: 1px solid #aaa;
  margin: 0px;
}

#tags-index td p {
  margin: 5px;
}

/*************************************************************************
 * Content: Tag Details
 ************************************************************************/

#doc-content.tag-detail h1#doc-title:before { content:" "; }
#doc-content.tag-detail h1:before { content:" "; }
#doc-content.tag-detail h2:before { content:" "; }

#tag-details {
  border-collapse: collapse;
}

#tag-details th {
  text-align: left;
  padding-right: 15px;
  margin: 0px;
}

/*************************************************************************
 * Footer
 ************************************************************************/

#footer {
  clear:both;
  width:840px;
  margin:2em auto;
  position:relative;
  font-size:12px;
  color:#746a55;
}

#footer p {
  position:absolute;
  top:0; right:0; margin:0;
}

#footer ul {
  list-style:none;
  margin:1em 0; padding:0;
}

#footer li {
  display:inline-block;
  white-space: nowrap;
}

#footer li:before {
  content:"\2022";
  margin:0 2px;
}

#footer li:first-child:before {
  content:" ";
}

/*************************************************************************
 * Mobile
 ************************************************************************/

/*
@media screen and (max-device-width: 480px) {
  body {
    margin:1em;
  }

  div {
    float:none !important;
    width:auto !important;
    margin:0 !important;
    padding:0 !important;
  }

  #index-section-1 p,
  #index-section-1 li {
    font-size:14px;
    line-height:1.5em;
  }

  #doc-sidebar {
    display:none;
  }
}

@media only screen and (-webkit-min-device-pixel-ratio: 2) {
  body {
    font-size:200% !important;
  }
  #content p, #content li {
    font-size:100% !important;
  }
}
*/