__pycache__
.pytest_cache
.vscode
.coverage
dist
docs
Dockerfile
.venv/*

alfalfa_web/Dockerfile
alfalfa_web/build
alfalfa_web/node_modules
alfalfa_web/.config
alfalfa_web/.npm

alfalfa_worker/Dockerfile

# local files created when running
# locally for development
*.tar.gz
wrapped_result.mat
/*.log
