.pytest_cache
.tox
dist
docs
tox.ini

poetry.lock
alfalfa_web/package-lock.json
alfalfa_web/build
alfalfa_web/node_modules
alfalfa_web/.config
alfalfa_web/.npm

# local files created when running
# locally for development
*.tar.gz
wrapped_result.mat
