# Temporary and binary files
*~
*.py[cod]
*~$*
*.swp
*.swo
*.swn
*.so
*.cfg
!.isort.cfg
!setup.cfg
*.orig
*.log
*.pot
__pycache__/*
.cache/*
.*.swp
*/.ipynb_checkpoints/*
.DS_Store
*.autosave

# Project files
.ropeproject
.project
.pydevproject
.settings
.idea
.vscode
tags

# Package files
*.egg
*.eggs/
.installed.cfg
*.egg-info

# Unittest and coverage
htmlcov/*
.coverage
.coveragerc
.tox
junit.xml
coverage.xml
.pytest_cache/
/tests/**/output/

# Build and docs folder/files
build/*
dist/*
sdist/*
docs/api/*
docs/_rst/*
docs/_build/*
cover/*
MANIFEST
alfalfa_web/.config
alfalfa_web/.npm


# Per-project virtualenvs
.venv*/
.python-version

# Simulations / E+
/alfalfa_worker/test/output
tests/integration/output
tests/worker/lib/output
/s3/*
*.audit
*.bnd
*.edd
*.eio
*.err
*.eso
*.mdd
*.mtd
*.mtr
*.rdd
*.rvaudit
*.sql
*.svg
*Zsz.csv
*Ssz.csv
*Meter.csv
*.shd
*.dbg
*.idd
socket.cfg
fort.6

# alfalfa simulation files
alfalfa_worker/*.tar.gz
alfalfa_worker/Buildings_HelloWorld_exportedModel*
alfalfa_worker/wrapped_*
!alfalfa_worker/workflow.tar.gz
wrapped_log.txt

# Custom
client/__pycache__/*
