.root {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.center {
  align-self: center;
  display: flex;
  flex-direction: column;
  flex: 1;
  justify-content: center;
  width: 40vw;
}

.hidden {
  display: none;
}
