#header ul.user li { display:inline; }
#header ul.user li a { display:inline; margin:0 0.5em; }
#header ul.nav li { display:inline; }
#header ul.nav li a { display:inline; }

#doc-content {
  padding:2em 0 3em 0;
  float:right;
  width:600px;
}

#doc-sidebar {
  float:left;
  width:200px;
  padding-top:2em;
  padding-right:1em;
}

#sidewalk div.heading div.cmds ul li { display:inline; }
#sidewalk div.heading div.cmds ul li a { display:inline; margin:0 0.5em; }

#sidewalk div.comment > h2 { border-top:1px solid #ccc; }
#sidewalk div.comment > h2 > span[title] { margin-top:-26px; margin-right:6px; }
#sidewalk div div.fandoc { margin:1em 0; }

#footer {
  clear:both;
  width:840px;
  margin:2em auto;
  position:relative;
  font-size:12px;
  color:#746a55;
}
#footer p { position:absolute; top:0; right:0; margin:0; }
#footer ul { margin:0; padding:0; }
#footer li { display:inline; margin:0 0.5em; }