{
  "assumptions": {
    "noDocumentAll": true,
    "noClassCalls": true
  },
  "comments": false,
  "env": {
    "production": {
      "presets": ["minify"]
    }
  },
  "plugins": ["@babel/plugin-proposal-class-properties"],
  "presets": [
    "@babel/preset-react",
    [
      "@babel/preset-env",
      {
        "corejs": "3.21",
        "useBuiltIns": "usage"
      }
    ]
  ]
}
