/* ==========================================================================
   COLOR
   ========================================================================== */
$white: #ffffff;
$black: #333333;
$gray: #e3e3e3;
$blue: #00bcd4;
$black-light: #2b2d2e;
